.profile-container {

    &__right, &__left {
        background-color: var(--main-bg);
        box-shadow: var(--box-shadow);
        border-radius: 10px;
        padding: 15px;
    }

    &__left {
        margin-right: 30px;

        &__top {
            text-align: center;

            & img {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                object-fit: cover;
                margin-bottom: 15px;
            }

            & p {
                color: #888888;
                font-size: 15px;
                margin-top: 5px;
            }

            .user-social {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 15px 0;

                .fb-icon, .gg-icon{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: var(--text-white);
                    padding: 8px;
                }

                .fb-icon {
                    background-color: var(--second-color-blue);
                    margin-right: 10px ;
                }

                .gg-icon {
                    background-color: var(--second-color-red);
                }
            }
        }

        &__bottom {
            text-align: left;
            margin-top: 20px;

            .user-status {
                color: var(--text-brownblack);
                margin: 20px 0;

                & h5 {
                    color: #888888;
                    font-size: 16px;
                }

                & span {
                    float: right;
                }

                &__item {
                    width: 100%;
                    height: 7px;
                    border-radius: 5px;
                    background-color: #cccccc;

                    & div {
                        height: 7px;
                        border-radius: 5px;
                        margin: 10px 0;
                    }
                }
            }
        }
    }

    &__right {
        flex: 1;

        &__main {
            margin-top: 20px;
        }
        .btn-add {
            width: 200px;
            padding: 10px 15px;
            background-color: var(--main-color);
            color: var(--text-white);
            text-transform: uppercase;
            margin: 30px auto;
            text-align: center;
            float: right;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 1280px) {
    .profile-container__right {
        margin-top: 20px;
    }
}