.status-card {
    padding: 30px;
    display: flex;
    align-items: center;
    color: var(--text-white);
    box-shadow: var(--box-shadow);
    margin-bottom: 30px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;

    &__icon {
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: var(--text-white);
        transition: 0.3s ease;
    }

    &__info {
        margin-left: 30px;
        text-transform: capitalize;
        text-align: center;

        & h4 {
            font-size: 30px;
            font-weight: 600;
            margin-bottom: 5px;
        }

        & p {
            font-size: 14px;
        }
    }

    &:hover .status-card__icon {
        transform: rotate(360deg);
    }
}