.upload-img {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
    min-height: 100px;
    border: 2px dashed var(--main-color);
    border-radius: 15px;

    &__btn {
        width: 100px;
        padding: 10px 12px;
        background-color: var(--main-color);

        & span {
            color: var(--text-white)!important;
        }
    }

    &__container {
        margin: 0px 10px 20px 10px;

        .img-item {
            margin: 5px 5px 10px 5px;
            position: relative;

            & img {
                width: 100px;
                height: 100px;
                object-fit: contain;
            }

            &__clear {
                position: absolute;
                top: 5px;
                right: 5px;
                cursor: pointer;
                background-color: var(--main-bg);
                color: #000;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                transition: 0.1s ease-in;
                &:hover {
                    background-color: var(--main-color-red);
                    color: var(--text-white);
                }
                .cancel {
                    font-size: 18px;
                }
            }
        }
    }
}